body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 10px auto;

    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

.starred-icon-container {
    position: relative;
    display: inline-block;
}

.starred-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: gold;
    font-size: 24px;
}

.idea-image {
    display: block; /* 이미지가 인라인 요소일 경우, 영역이 잘못 설정될 수 있으므로 블록 요소로 변경 */
    width: 100px; /* 이미지의 기본 너비 */
    height: 100px; /* 이미지의 기본 높이 */
}
